@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-start;
}